<section id="app" class="comments">
  <% @comments.each do |comment| %>
    <div id="comment-<%= comment.id %>">
      <%= render "comments/comment", comment: comment %>
    </div>
  <% end %>
</section>
