<% provide(:title, @book.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="book_info">
      <h1>
                <%= link_to image_tag("sach.jpg",width: 136, height: 67, alt: "Rails logo")%>
                <div class="caption">
                  <h4><a href=  "#"><%= @book.title %></a></h4>
                  <h4><%= @book.author%></h4>
                  <p></p>
                </div>
      </h1>
    </section>
  </aside>
</div>