<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Review book</a>
    by <a href="http://www.michaelhartl.com/">nhom 6</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>